/* место для вашего кода */

.content-section {
  min-height: 100px;
  width: 100%;
  margin: auto;
}

/* Стили для секции header */
.header {
  display: grid;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  grid-template-columns: repeat(3, auto);
  padding: 92px 24px;
}

.header__menu {
  padding-left: 34px;
  padding-top: 41px;
  padding-bottom: 43px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style-type: circle;
}

.header__menu-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__link {
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 105px;
  margin-left: 36px;
}
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 4px;
  margin-left: 187px;
  margin-top: 4px;
}

.address a {
  text-decoration: none;
  border-bottom: solid 1px;
}

.header__address {
  display: block;
}

/* Стили для секции cover */
.cover {
  height: 743px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 135px; /* 142*/
  background-image: url("/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
}

.aligned-text {
  padding-top: 162px;
  padding-left: 56px;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 30px;
}

.main_first_word {
  position: relative;
  right: 10px;
}

.letter_of_the_first_word {
  position: relative;
  right: 35px;
  bottom: 2px;
}

.aligned-text_center {
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 30px;
  margin-top: 5px;
}

.main_second_word {
  position: relative;
  right: 1px;
}

.center-letter {
  position: relative;
  right: 28px;
}

.aligned-text_right {
  text-align: right;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 30px;
}

.letter_of_the_third_word {
  position: relative;
  left: 9px;
  top: 1px;
}

.main_third_word {
  position: relative;
  right: 15px;
  top: 1px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  gap: 39px;
  justify-content: center;
  padding-bottom: 30px;
  z-index: 2;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 17.3px;
}

.bet-button {
  position: relative;
  left: 32px;
  bottom: 13px;
  width: 252px;
  height: 52px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-size: 22px;
  border: solid 1px white;
}

/* Стили для секции lots */
.lots {
  padding-top: 175px;
}

.lots__heading {
  font-size: 40px;
  padding-left: 70px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 328px 329px 328px;
  grid-gap: 25px;
  list-style: none;
  padding-top: 28px;
  padding-left: 32px;
  padding-right: 32px;
}

.card_type_film {
  margin-bottom: 0;
  padding: 48px 38px 44px 39px;
  gap: 236px;
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  padding: 48px 36px 39px 39px;
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book p {
  position: relative;
  bottom: 6px;
}

.card_type_picture {
  padding: 46px 34px 39px 40px;
  gap: 91px;
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card-list-item {
  position: relative;
  /* padding-top: 28px; */
}

.card {
  display: flex;
  height: 554px;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 120%;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  /* position: relative; */
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  margin-top: 27px;
  margin-left: 71px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

/* Стили для секции about */
.about {
  padding-top: 179px;
  display: flex;
  gap: 70px;
  flex-direction: row;
}

.about__logo {
  height: 237px;
  width: 237px;
  margin-left: 79px;
  border-radius: 50%;
  background-color: black;
  flex-shrink: 0;
}

.about__logo-image {
  margin-top: 60px;
  margin-left: 45px;
  width: 148px;
  height: 114px;
  /* padding: 61px 44px 62px 45px;
  z-index: 1; */
}

.about__column {
  display: flex;
  width: 705px;
  padding-bottom: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  padding-top: 97px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 693px;
  font-size: 20px;
}

/* Стили для секции footer */
.footer {
  display: flex;
  padding: 180px 58px 89px 58px;
  flex-direction: row;
  gap: 154px;
}

.address__footer {
  width: 240px;
  font-size: 18px;
  margin: 0;
  gap: 3px;
}

.address__footer p {
  font-size: 18px;
}

.footer__menu {
  padding-left: 22px;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__social-list {
  width: 237px;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  gap: 46px;
  list-style: none;
  padding-left: 25px;
}

.footer__social-icon {
  width: 50px;
  height: 48px;
  flex-shrink: 0;
}
